<app-header></app-header>
<div class="produtos">
  <form [formGroup]="searchForm">
    <input
      type="text"
      placeholder="Informe o nome do produto..."
      formControlName="search"
    />
    <button type="button" (click)="buscarItemFiltrados()">PESQUISAR</button>
  </form>
  <p-progressSpinner *ngIf="isLoadingList; else listaItem"></p-progressSpinner>
  <ng-template #listaItem>
    <app-lista-item
      [listaItem]="itensDaLoja"
      (adicionarItemAoCarrinho)="adicionarItemAoCarrinho($event)"
      (verDetalhesItem)="verDetalhesItem($event)"
    ></app-lista-item>
    <app-carrinho
      [carrinho]="carrinho"
      (incrementarItem)="adicionarItemAoCarrinho($event)"
      (decrementarItem)="removerItemCarrinho($event)"
    ></app-carrinho>
  </ng-template>
</div>
